<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loading...</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="css/global.css">
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav class="first-nav white" id="first-nav">
                <div class="nav-wrapper">
                    <a class="brand-logo">
                        <img v-for="logo in logoList" :src="logo.src" :width="logo.width" :style="logo.style">
                    </a>
                </div>
            </nav>
        </div>
        <div class="navbar-fixed" style="margin-top: -16px;">
            <nav class="second-nav">
                <div class="nav-wrapper">
                    <a class="breadcrumb">
                        <i class="material-icons waves-effect"
                            style="margin-top: -4px; margin-left: 22px; color: white;" id="menu-trigger">menu</i>
                        <span class="hide-on-med-and-down" style="margin-left: 16px; margin-right: -8px;">Cluster</span>
                    </a>
                    <a class="breadcrumb hide-on-med-and-down">
                        <span style="margin-left: -8px; margin-right: -8px;" id="resource-type">Roles</span>
                    </a>
                    <a class="breadcrumb hide-on-med-and-down" style="color: white;">
                        <span style="margin-left: -8px;" id="name"></span>
                    </a>
                    <ul class="right">
                        <li>
                            <a href="#delete-modal" class="btn waves-effect waves-light z-depth-0 modal-trigger"
                                style="background-color: #326de6;" id="delete-modal-trigger">
                                <i class="material-icons left" style="margin-right: 4px;">delete</i>
                                <span>DELETE</span>
                            </a>
                        </li>
                    </ul>
                    <div class="modal" id="delete-modal">
                        <div class="modal-content black-text">
                            <h4 style="font-size: 20px;">Delete a Role</h4>
                            <div style="font-size: 16px;" id="delete-modal-body"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="modal-close waves-effect btn-flat" style="color: #326de6;">CANCEL</button>
                            <button class="modal-close waves-effect btn-flat" style="color: #326de6;"
                                id="delete-btn">DELETE</button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <ul class="sidenav" id="menu">
            <li class="second-sidenav">
                <ul>
                    <li v-for="cObj in clusterObjList" :class="cObj.headerType">
                        <a :class="cObj.class" :href="cObj.href" :style="cObj.style">{{cObj.text}}</a>
                    </li>
                    <div class="divider"></div>
                    <li>
                        <div class="row">
                            <div class="col s12 input-field" style="margin-left: 6px;">
                                <select id="namespace">
                                    <optgroup label="All namespaces" id="namespace-opt-grp">
                                    </optgroup>
                                </select>
                                <label>Namespace</label>
                            </div>
                        </div>
                    </li>
                    <li v-for="nCObj in namespacedClusterObjList" :class="nCObj.headerType">
                        <a :class="nCObj.class" :href="nCObj.href" :style="nCObj.style">{{nCObj.text}}</a>
                    </li>
                    <div class="divider"></div>
                    <li v-for="o in otherList">
                        <a :class="o.class" :href="o.href">{{o.text}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <main>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-title-sm">Details</div>
                    <div class="divider"></div>
                    <div style="padding-top: 4px; padding-bottom: 4px;" id="detail"></div>
                </div>
                <div class="card">
                    <div class="card-title-sm">Rules</div>
                    <div class="divider"></div>
                    <div id="rules"></div>
                </div>
            </div>
        </div>
    </main>

    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/timeago/jquery.timeago.js"></script>
    <script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="js/global.js"></script>
    <script src="js/role.js"></script>
</body>

</html>